body {
  color: #d3d3d3;
  font-family: 'Circular-Loom', Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #efefef;
  background-repeat: no-repeat;
}

.hero {
  text-align: left;
  position: inherit;
}

.backImage {
  opacity: 0.05;

  /* position: absolute; */

  /* back image postion conflict with navmenu */
  top: 0;
  left: 0;
  width: 100%;

  /* height: 100%; */
  z-index: -1;
}

h2 {
  color: #000;
}

h2.logo {
  position: absolute;
  left: 0;
  margin-left: 15vw;
}

.backImageProd {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;

  /* background-size: ; */
}

.storyH1 {
  margin: 0;
  width: 90vw;
  font-size: 45px;
  -webkit-background-clip: text;

  /* background-clip: text; */
  background-size: contain;
  background-image: url(./Assets/images/backgroundText.jpg);
  background-blend-mode: lighten;
  color: transparent;
}

.storyH2 {
  font-size: 20px;
  color: #f63d23;
  margin: 0;
  width: 90vw;
}

/* scroll animation */
.scroll {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.scrollShow {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* scroll animation */
h1 {
  font-size: 40px;
}

.prodName {
  word-wrap: normal;
  width: 80px;
  color: #ec5242;
  font-size: 15px;
  margin: 10px;
}

.prodName2 {
  word-wrap: normal;
  width: 80px;
  color: #1c1c1c;
  font-size: 20px;
  margin: 10px;
}

h3 {
  color: #272a31;
  font-size: 20px;
}

.prodText2 {
  font-size: 13px;
  color: #ec5242;
  margin: 0;
  padding-left: 10px;
}

.prodMoreText {
  color: #272a31;
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  flex-direction: column;
  background-color: #d3d3d3;
}

.navMenu.show {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  /* margin-top: 70px; */
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.navIcon {
  color: #ec5242;
  position: relative;
  display: flex;
  height: 40px;
  padding: 20px;
  font-size: 50px;
}

.navele {
  border: #f63d23 2px solid;
  border-radius: 10px;
  font-size: 27px;
  margin: 20px;
  width: 50vw;
  text-align: center;
  list-style-type: none;
  color: black;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.navele:hover {
  color: #f63d23;
  border: #f63d23 5px solid;
}

.navele:active {
  color: #dbdbdb;
  background-color: #272a31;
}

.logo {
  display: none;
}

.greyFullImg {
  position: absolute;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: auto;
  opacity: 0.1;
}

.mainArt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainArtAbout {
  color: #f63d23;
  text-align: center;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.makeup {
  z-index: -1;
}

.dateH3 {
  color: #575757;
  font-size: 30px;
  margin: 20px;
}

.locationH4 {
  color: #575757;
  font-size: 20px;
  margin: 20px;
}

.storyParagraph {
  color: rgb(93 91 91);
  border-radius: 5px;
  border: rgb(170, 170, 170) 2px solid;
  background-color: #d3d3d33d;
  padding: 15px;
  font-size: 15px;
  width: 85vw;
}

.productsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;

  /* z-index: -1; */

  /* z-index causes the inspect to be at body first */
  position: relative;
  justify-content: center;
}

.products {
  border: #666 2px solid;
  border-radius: 10px;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.prd1,
.pdr2 {
  display: flex;
  width: 95vw;
  border: 1px rgba(255, 0, 0, 0) solid;
  background-color: #bfbfbf75;
  position: relative;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
}

.svgImage {
  margin: 10px;
  width: 8vw;
  height: 7vh;

  /* border: hsl(32deg 94% 86%) dotted 10px; */

  /* border-radius: 100%; */
}

.productImage {
  margin: 20px;
  width: 35vw;
}

.productImageBoard {
  margin: 5px;
  position: absolute;
  width: 20vw;
  z-index: -1;
}

.prodText {
  text-shadow: 0 0 4px #000;
  color: #fff;
  width: 40vw;
}

.realProduct {
  display: flex;
  flex-direction: row;
}

.realProdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  border: solid #ec5242;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.productDescription {
  display: flex;
  flex-direction: column;
}

.moreBtn {
  border: 2px solid #dbdbdb;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: white;
  width: 90vw;
  height: 54px;
  align-content: center;
  align-items: center;
  margin-block: 20px;
}

.moreBtn:active {
  color: #dbdbdb;
  background-color: #ec5242;
}

.productsBtn {
  font-family: 'Circular-Loom', Arial, Helvetica, sans-serif;
  border-radius: 5px;
  font-size: large;
  width: 70vw;
  height: 50px;
  background-color: #ec5242;
  color: #fff;
  border: none;
  transition: all 0.4s ease-in-out;
  margin: 10px;
}

.moreProd {
  display: none;
  flex-direction: column;
}

.moreShow {
  display: flex;
}

.allProductsDesktop {
  display: none;
}

svg {
  color: red;
}

@media (min-width: 700px) {
  img {
    width: 25vw;
  }

  .navMenu {
    color: #575757;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 10vh;
  }

  .navIcon {
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;

    /* height: fit-content; */
  }

  .navMenu li {
    padding: 0;
  }

  .navele {
    font-size: 15px;
    border: none;
    border-radius: 0;
    width: 10vw;
    height: 50px;
  }

  .navele:hover {
    color: #f63d23;
    border: #f63d23 5px solid;
  }

  .navele:active {
    color: #dbdbdb;
    background-color: #272a31;
  }

  .storyH1 {
    margin: 0;
    width: 50vw;
    font-size: 65px;

    /* -webkit-background-clip: text; */

    /* background-clip: text; */
    background-size: contain;
    background-image: url(./Assets/images/backgroundText.jpg);
    background-blend-mode: lighten;
    color: transparent;
  }

  .storyH2 {
    color: #f63d23;
    margin: 0;
    width: 50vw;
    font-size: 35px;
  }

  .dateLocation {
    text-align: center;
  }

  .logo {
    display: flex;
  }

  .prd1 {
    display: flex;
    flex-direction: column;
    width: 17vw;
    border: #1c1c1c 1px solid;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
  }

  .mainSpecs {
    display: flex;
    flex-direction: row;
  }

  .prodText {
    width: 15vw;
  }

  .backImageProd {
    height: 100%;
  }

  .productsList {
    height: 80vh;
  }

  .productsBtn {
    width: 20vw;
  }

  .moreProd {
    display: flex;
  }

  .moreBtn {
    display: none;
  }

  .realProdSection {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
  }

  .allProductsDesktop {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    gap: 10px;
    margin: 10vw;
  }

  .realProduct {
    display: flex;
    flex-direction: row;
    margin: 2vw;
  }

  .productImage {
    width: 10vw;

    /* height: fit-content; */
  }

  .prodText2 {
    font-size: 15px;
    width: 25vw;
  }

  .productImageBoard {
    margin: -8px;
    position: absolute;
    width: 7vw;
    z-index: -1;
  }

  .storyParagraph {
    width: 40vw;
  }
}
